<!-- <app-header></app-header> -->
<div class="header-bg p-3">
    <div class="container header">
        <div class="medium-feat d-flex justify-content-between align-items-center"> 
            <img src="https://assets.ccbp.in/frontend/react-js/logo-img.png" alt="webSiteLogo" class="header-img" routerLink=""/>
            <ul class="items d-flex justify-content-between align-items-center mb-0">
                <li class="list-item" routerLink="">Home</li>
                <li class="list-item" routerLink="/jobs">Jobs</li>
            </ul>
            <button class="logoutBtn" (click)="logout()" mat-raised-button color="primary">Logout</button>
        </div>
        
        <div class="icons  d-flex justify-content-between align-items-center">
            <img src="https://assets.ccbp.in/frontend/react-js/logo-img.png" alt="webSiteLogo" class="header-img" routerLink=""/>
            <div class="inner-icons  d-flex justify-content-between align-items-center">
                <mat-icon class="icon-item" routerLink="">home</mat-icon>
                <mat-icon class="icon-item" routerLink="/jobs">work</mat-icon>
                <button class="logout" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="notFoundContainer">
    <div class="innerCont">
        <img src="https://assets.ccbp.in/frontend/react-js/jobby-app-not-found-img.png" alt="notFound" class="notFoundImage">
        <h1 class="notFoundTitle">Page Not Found</h1>
        <p class="notFoundDesc">We are sorry, the page you requested could not be found</p>
    </div>
</div>
