/* You can add global styles to this file, and also import other style files */
 @import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
.package{
    font-size: 15px !important;
    margin-bottom: 0px !important;
}

@media screen and (max-width:425px) {
    .package{
        font-size: 15px !important;
        margin-bottom: 0px !important;
    }
}

@media screen and (min-width:426px) {
    .package{
        font-size: 20px !important;
        margin-bottom: 0px !important;
    }
}